<!doctype html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Damian Schmidt Portfolio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script defer src="/static/js/fontawesome/all.min.js"></script>
</head>
<body>
    <header>Header</header>
    <nav>
        <ul>
            <li>O mnie</li>
            <li>Kontakt</li>
            <li>Blog</li>
        </ul>
    </nav>
    <div>
        <a href="https://github.com/damianschmidt">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/damianschmidt">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="/static/cv.pdf">
            <i class="fa-solid fa-file-text"></i>
        </a>
    </div>
    <footer>
        <p>&copy; 2025 Damian Schmidt</p>
    </footer>
</body>
</html>